[Unit]
Description=Kodla
After=network.target

[Service]
VIRTUAL_ENV=/opt/kodla/venv
WorkingDirectory=/opt/kodla
ExecStart=/opt/kodla/venv/bin/flask run --host=0.0.0.0
Restart=always

[Install]
WantedBy=multi-user.target