<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Turkish Word Coding</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    
    <p>
        <form  action="{{ url_for('coding') }}" method="post">
            <label>Enter the Turkish word/words in the field below : </label><br><br>
            <input type="text" name="words">
            <input type="submit" value="Press me to decod your word">
        </form>
        <br>
    
        <p style="color: red;">{{ err_msg }}</p><br>
    </p>
    <p style="color: blue;"> The word/words you have enterd is: {{ my_word }}</p><br>
    <p style="color: green;">THE ENCODE WORD IS : {{ coded_string }}</p><br>
    <label>Listen the words  : </label> <br>
    <audio controls>
        <source src="static/{{ file_name }}.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>

</body>
</html>     